<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: #dddddd">

<div style="background-color: bisque;width:300px;height: 400px;text-align: center;margin: 0 auto;margin-top: 10%">
    <form action="login.html" method="post">
        {% csrf_token %}
        <div style="margin-top: 20px">

            <input style="height: 30px;width: 200px"  type="text" name="user"  placeholder="用户名">
            <input style="height: 30px;width: 200px" type="text" name="passwd"  placeholder="密码">
        </div>
        <div style="margin-top: 40px">
            <input  type="submit" value="登陆"><br>
        <span style="color: red">{{ message }}</span>
        </div>
    </form>
</div>

</body>
</html>